/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  width: 10%;
  height: 50vh;
}

ul {
  list-style: none;
  padding-left: 10px;
}

ul a {
  
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  color: gray;
  font-weight: 300  ;
}
header img {
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
  
}

header > a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  color: gray;
  margin-top: 15px;
}
.side-articles {
  width:30%;
  float: left;
  margin-left: 100px;
}

main {
  float:left;
  width: 45%;
  overflow: auto;
}

main img {
  width: 100%;
  padding-bottom: 20px;
}
main span {
  display: block;
}

.bottom {
  margin-left: 15%;
}
.bottom h2 {
  font-weight: 900;
  font-size:30px;
  margin-bottom: 10px;
}

li {
  margin-top: 15px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-weight: 900;
  width: 90%;
  font-size: 40px;
  margin-bottom: 0;
}

main p {
  width: 80%;
  color: gray;
}
main span {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}

.extraC {
  color: coral;
  font-weight: 700;
  margin-left:15px;
  
}

section section + section {
  border-top: 1px gray solid;
  margin-top: 10px;
}

.bottom h5 {
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 0;
  width: 98%;
  }
/* .bottom span em{
  color: gray;
  font-weight: 400;
  font-style: normal;
}

.bottom p {
  float: right;
}
.bottom img {
  float: right;
}
.bottom section h2{
  display: none;
} */
.bottom-1,
.bottom-2,
.bottom-3 {
  float: left;
}

.bottom-1{
  width: 25%;
  padding-right: 50px;
  margin-right: 50px;
}
.bottom-2 {
  width: 30%;
  font-size: 20px;
  color: gray;
  padding-right: 50px;
  font-weight: 300;
}

.bottom-3 {
  margin-top: 20px;
}

.side-articles h2 {
  font-weight: 800;
  font-size: 28px;
}